<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>consultation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));

        const APP_ID = 628101627852748;
        var senderID = "";

        window.extAsyncInit = function () {
            MessengerExtensions.getContext(APP_ID,
                function success(thread_context) {
                    senderID = thread_context.psid;
                },
                function error(err) {
                    console.log(err);
                }
            );
        };
    </script>
    <div class="w3-light-grey w3-padding-large w3-padding-32 w3-margin-top" id="contact">
        <h3><%= title %></h3>

        <form id="form" enctype="multipart/form-data" method="post" action="https://sttk.herokuapp.com/admin/checkReferenceReg/">
            <div class="w3-session">
                <label for="name">Name</label>
                <input type="text" class="w3-input w3-border" name="name" value="" ><br>
            </div>
            <div class="w3-session">
                <label for="name">Reference Number</label>
                <input type="text" class="w3-input w3-border" id="ref" name="reference" value="" ><br>
            </div>            
            <input type="hidden" id="sender" name="sender" value="<%= sender_id %>"><br>
            <input type="submit" value="Check">
        </form>
    </div>


    <script>


        const windowShut = () => {

            MessengerExtensions.requestCloseBrowser(function success() {
                console.log("success");
            }, function error(err) {
                console.log(err);
            });
        }

        document.getElementById("form").addEventListener("submit", windowShut);

        /*
         const postFormData = (data) => {
         var xhr = new XMLHttpRequest();
         xhr.open("POST", "https://fbstarterbot.herokuapp.com/webview/", true);
         xhr.setRequestHeader('Content-Type', 'application/json');
         xhr.send(JSON.stringify(data));
         } */



    </script>

</body>

</html>